# dependencies
node_modules/

# next.js
.next/
out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# typescript
*.tsbuildinfo

# export local (PDF gerado)
export/

# ide / os
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
